.status-card {
    background-color: #e7d05b;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 20% 1fr 40%;
    column-gap: 10px;

    .status-sec,
    .body-sec,
    .time-log {
        display: flex;
        flex-direction: column;
        column-gap: 15px;
        justify-content: space-between;
        .recipient {
            overflow-x: auto;
        }
        .dlt-btn-container {
            display: flex;
            justify-content: space-between;
            .delete-btn {
                cursor: pointer;
                background-color: red;
                padding: 0 6px;
                border-radius: 50%;
                span {
                    display: block;
                    color: white;
                    transform: rotate(45deg);
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
    }
    .status-sec p:first-of-type {
        margin-bottom: 10px;
    }
}
