.status-card {
    background-color: #e7d05b;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 20% 1fr 40%;
    column-gap: 10px;

    .status-sec,
    .body-sec,
    .time-log {
        display: flex;
        flex-direction: column;
        column-gap: 15px;
        justify-content: space-between;
        .recipient {
            overflow-x: auto;
        }
    }
    .status-sec p:first-of-type {
        margin-bottom: 10px;
    }
}
