.all-card-container {
    position: relative;
    .delete-btn {
        position: absolute;
        right: -6px;
        top: -7px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 20px;
        height: 20px;
        font-size: 18px;
        font-weight: bold;
        color: white;
        background-color: red;
        border: none;
        transform: rotate(45deg);
        border-radius: 50%;
    }
}

.status-card {
    background-color: #e7d05b;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 20% 1fr 35%;
    column-gap: 20px;

    .status-img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 10px;
        margin-bottom: 20px;
        .status-img {
            width: 30px;
            height: 30px;
            background-color: rgb(15, 240, 26);
            border-radius: 50%;
        }
    }

    .status-sec,
    .body-sec,
    .time-log {
        display: flex;
        flex-direction: column;
        column-gap: 15px;
        justify-content: space-between;
        .recipient {
            overflow-x: auto;
        }
    }
    .status-sec p:first-of-type {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 450px) {
    .status-card {
        display: block;
    }
    .status-sec,
    .body-sec,
    .time-log {
        margin-bottom: 10px;
        display: block;
    }
    .status-sec p:first-of-type {
        margin-bottom: 0;
    }
}
